<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <form method="POST" action="/nasdaq_prediction">
    <p>Select which data you would like to visualize:</p>
    <input type="radio" name="data_request" value="historical_data"> Historical Data<br>
    <input type="radio" name="data_request" value="nasdaq_projection"> Nasdaq Projection<br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
